@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";

  /* Brand Colors */
  --color-primary-light: #4182F9;
  --color-primary: #24355D;
  --color-primary-dark: #1a2642;

  --color-secondary-light: #8b5cf6;
  --color-secondary: #6d28d9;
  --color-secondary-dark: #4c1d95;
  
  /*Grey shades*/
  --color-grayColor: #F2F2F7;

  /* Status Colors */
  --color-success-light: #34d399;
  --color-success: #10b981;
  --color-success-dark: #059669;

  --color-danger-light: #f87171;
  --color-danger: #ef4444;
  --color-danger-dark: #b91c1c;

  --color-warning-light: #facc15;
  --color-warning: #eab308;
  --color-warning-dark: #ca8a04;

  --color-info-light: #38bdf8;
  --color-info: #0ea5e9;
  --color-info-dark: #0369a1;
}
